<header class="bigger-header-font">
  <h1>{{ group?.SponsorName }}</h1>
</header>
<body>
  <div>
    <header>
      <h2>Course Details</h2>
      <button pButton type="button" class="icon-buttons">
        <i
          class="pi pi-pencil"
          style="font-size: 1.5rem"
          (click)="editCourseDetails()"
        ></i>
      </button>
    </header>
    <h3>Department Name: <span>{{ group?.OrganizationName }}</span></h3>
    <h3>Course Code: <span>{{ group?.GroupName }}</span></h3>
    <h3>Course Name: <span>{{ group?.SponsorName }}</span></h3>
    <h3>Instructor Name: <span>{{ group?.SponsorPhone }}</span></h3>
    <h3>Meeting Time: <span>{{ group?.SponsorEmail }}</span></h3>
    <h3>Total Seats: <span>{{ group?.MaxGroupSize }}</span></h3>
  </div>
  <div>
    <header>
      <h2>Students Enrolled</h2>
      <button pButton type="button" class="icon-buttons">
        <i
          class="pi pi-user-plus"
          style="font-size: 1.5rem"
          (click)="addStudent()"
        ></i>
      </button>
    </header>
    <p-table [value]="groups">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Student Phone</th>
          <th>Remove</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{ member?.MemberName }}</td>
          <td>{{ member?.MemberEmail }}</td>
          <td>{{ member?.MemberPhone }}</td>
          <td><button pButton type="button" class="remove-button">
            <i
              class="pi pi-minus-circle remove-icon"
              (click)="removeStudent(group)"
              style="font-size: 2rem"
            ></i>
          </button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</body>
<p-footer>
  <div style="text-align: right">
    <button
      pButton
      type="button"
      label="Delete Course"
      (click)="deleteCourse(group)"
    ></button>
  </div>
  <div style="text-align: right">
    <button
      pButton
      type="button"
      label="Return to Course List"
      (click)="returnToCourses()"
    ></button>
  </div>
</p-footer>
