body {
    display: flex;
    flex-direction: row;
}

body > div {
    width: 100%;
    margin: 10px;
    font-family: 'Hind', sans-serif;
    height: 600px;
}

h1 {
    width: 92%;
    padding-left: 10px;
    font-family: 'Hind', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #1B264F;
    color:#1B264F;
    font-family: 'Hind', sans-serif;
}

i {
    cursor: pointer;
    margin-top: 5px;
}

h2 {
    color: #274690;
    margin: 30px;
}

span {
    color: black;
    font-size: large;
    font-weight: 300;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 40px;
    background-color: #1A936F;
    color: white;
    border: 1px solid #1A936F;
    border-radius: 3px;
}

.remove-button {
    background-color: white;
    border: 0px;
    margin: 0;
}

.remove-icon {
    background-color: red;
    color: white;
    border-radius: 100%;
}

.width12 {
    width: 12%;
    text-align: center;
}

.pad-left8 {
    padding-left: 8px !important;
}

div > button {
    height: 50px;
    width: 190px;
    background-color: #1A936F;
    color: white;
    border: 1px solid #1A936F;
    border-radius: 3px;
    margin: 10px;
    font-family: 'Hind', 'Taviraj', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

p-footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}