<header>
  <h1>${{ group.SponsorName }}</h1>
</header>
<body>
  <div>
    <header>
      <h1>Course Details</h1>
      <button pButton type="button" class="icon-buttons">
        <i
          class="pi pi-pencil"
          style="font-size: 1.5rem"
          (click)="editCourseDetails()"
        ></i>
      </button>
    </header>
    <h2>Department Name: ${{ group.OrganizationName }}</h2>
    <h2>Course Code: ${{ group.GroupName }}</h2>
    <h2>Course Name: ${{ group.SponsorName }}</h2>
    <h2>Instructor Name: ${{ group.SponsorPhone }}</h2>
    <h2>Meeting Time: ${{ group.SponsorEmail }}</h2>
    <h2>Total Seats: ${{ group.MaxGroupSize }}</h2>
  </div>
  <div>
    <header>
      <h1>Students Enrolled</h1>
      <button pButton type="button" class="icon-buttons">
        <i
          class="pi pi-user-plus"
          style="font-size: 1.5rem"
          (click)="addStudent()"
        ></i>
      </button>
    </header>
    <p-table [value]="group">
      <ng-template pTemplate="header">
        <tr>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Student Phone</th>
          <th class="width12 pad-left8">Remove</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group>
        <tr>
          <td>{{ group.Members.MemberName }}</td>
          <td>{{ group.Members.MemberEmail }}</td>
          <td>{{ group.Members.MemberPhone }}</td>
          <td class="width12">
            <button pButton type="button" class="remove-button">
              <i
                class="pi pi-minus-circle remove-icon"
                (click)="removeStudent(member)"
                style="font-size: 2rem"
              ></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</body>
<p-footer>
  <div style="text-align: right">
    <button
      pButton
      type="button"
      label="Delete Course"
      (click)="deleteCourse(group)"
    >Delete Course</button>
  </div>
  <div style="text-align: right">
    <button
      pButton
      type="button"
      label="Return to Course List"
      (click)="returnToCourses()"
    >Return to Course List</button>
  </div>
</p-footer>
