<h2>Add Student</h2>
<form [formGroup]="addStudentForm" (ngSubmit)="onSubmit(addStudentForm.value)">
  <div class="ui-g ui-fluid" *ngIf="group">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="MemberName">Student Name</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="MemberName"
          formControlName="MemberName"
          required
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="MemberEmail">Student Email</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="MemberEmail"
          formControlName="MemberEmail"
          required
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="MemberPhone">Student Phone</label>
      </div>
      <div class="ui-g-8">
        <input
          pInputText
          id="MemberPhone"
          formControlName="MemberPhone"
          required
        />
      </div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="cancel()" label="Cancel"></button>
      <button type="button" pButton (click)="onSubmit(addStudentForm.value)" label="Add"></button>
    </div>
  </footer>
</form>
