<p-table
  #dt
  [globalFilterFields]="['GroupName', 'SponsorName', 'SponsorPhone']"
  [columns]="cols"
  [value]="group"
  selectionMode="single"
  [(selection)]="selectedGroup"
  (onRowSelect)="onRowSelect()"
  [paginator]="true"
  [rows]="15"
>
  <ng-template pTemplate="caption">
    <div class="ui-inputgroup">
      <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Search Courses"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width: auto"
      />
    </div>
    Course List
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Instructor Name</th>
      <th>Meeting Time</th>
      <th>Total Seats</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-group>
    <tr [pSelectableRow]="rowData">
      <td>{{ group.GroupName }}</td>
      <td>{{ group.SponsorName }}</td>
      <td>{{ group.SponsorPhone }}</td>
      <td>{{ group.SponsorEmail }}</td>
      <td>{{ group.MaxGroupSize }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align: right">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        iconPos="left"
        label="Create Course"
        (click)="createCourse()"
      ></button>
    </div>
  </ng-template>
</p-table>

<!-- <p-dialog
  header="Course Details"
  [(visible)]="displayDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '380px' }"
>
  <form
    [formGroup]="createCourseForm"
    (ngSubmit)="onSubmit(createCourseForm.value)"
  >
    <div class="ui-g ui-fluid" *ngIf="group">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="groupName">Course Code</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="groupName"
            [(ngModel)]="group.GroupName"
            formControlName = "groupName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="organizationName">Department Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="organizationName"
            [(ngModel)]="group.OrganizationName"
            formControlName = "organizationName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="group.SponsorName">Course Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="group.SponsorName"
            [(ngModel)]="group.SponsorName"
            formControlName = "sponsorName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="group.SponsorPhone">Instructor Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="group.SponsorPhone"
            [(ngModel)]="group.SponsorPhone"
            formControlName="sponsorPhone"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="group.SponsorEmail">Meeting Time</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="group.SponsorEmail"
            [(ngModel)]="group.SponsorEmail"
            formControlName = "sponsorEmail"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="group.MaxGroupSize">Total Seats</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="group.MaxGroupSize"
            [(ngModel)]="group.MaxGroupSize"
            formControlName = "maxGroupSize"
          />
        </div>
      </div>
    </div>
  </form>
  <footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="cancel()" label="Cancel"></button>
      <button type="button" pButton (click)="onSubmit(createCourseForm.value)" label="Save"></button>
    </div>
  </footer>
</p-dialog> -->
