<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton type="button" label="Search"></button>
            <input type="text" pInputText placeholder="Course">         
        </div>
    </div>
</div>
<p-table [columns]="cols" [value]="group" selectionMode="single" [(selection)]="selectedGroup" (onRowSelect)="onRowSelect()" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Course List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr [pSortableColumn]="columns">
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Instructor Name</th>
            <th>Meeting Time</th>
            <th>Total Seats</th>  
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-group>
        <tr [pSelectableRow]="rowData">
            <td>{{group.GroupName}}</td>
            <td>{{group.SponsorName}}</td>
            <td>{{group.SponsorPhone}}</td> 
            <td>{{group.SponsorEmail}}</td>
            <td>{{group.MaxGroupSize}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:right">
            <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create Course" (click)="showDialog()"></button>
        </div>
    </ng-template>    
</p-table>

<p-dialog header="Course Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '380px'}">
    <div class="ui-g ui-fluid" *ngIf="group">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="group.GroupName">Course Code</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="Group.groupName" [(ngModel)]="group.groupName" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="group.SponsorName">Course Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="group.SponsorName" [(ngModel)]="group.sponsorName" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="group.SponsorPhone">Instructor Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="group.SponsorPhone" [(ngModel)]="group.sponsorPhone" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="group.SponsorEmail">Meeting Time</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="group.SponsorEmail" [(ngModel)]="group.sponsorEmail" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="group.MaxGroupSize">Total Seats</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="group.MaxGroupSize" [(ngModel)]="group.maxGroupSize" />
            </div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton (click)="save(group)" label="Save"></button>
        </div>
    </footer>
</p-dialog>
