<h2>Edit Course Details</h2>
<form
    [formGroup]="editCourseForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="ui-g ui-fluid" *ngIf="selectedGroup">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="GroupId">Course Id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="GroupId"
            formControlName="GroupId"
            [value]="selectedGroup?.GroupId"
            disabled="true"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="GroupName">Course Code</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="GroupName"
            formControlName="GroupName"
            [value]="selectedGroup?.GroupName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="OrganizationName">Department Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="OrganizationName"
            formControlName="OrganizationName"
            [value]="selectedGroup?.OrganizationName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="SponsorName">Course Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="SponsorName"
            formControlName="SponsorName"
            [value]="selectedGroup?.SponsorName"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="SponsorPhone">Instructor Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="SponsorPhone"
            formControlName="SponsorPhone"
            [value]="selectedGroup?.SponsorPhone"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="SponsorEmail">Meeting Time</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="SponsorEmail"
            formControlName="SponsorEmail"
            [value]="selectedGroup?.SponsorEmail"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="MaxGroupSize">Total Seats</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="MaxGroupSize"
            formControlName= "MaxGroupSize"
            [value]="selectedGroup?.MaxGroupSize"
          />
        </div>
      </div>
    </div>
  </form>
  <footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="cancel()" label="Cancel"></button>
      <button type="submit" pButton (click)="onSubmit()" label="Save"></button>
    </div>
  </footer>
